<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>{{> menu}}</div>
    <hr>
    <h3> Файловое хранилище</h3>
    <div> {{description}}</div>
    <div>
        <ul>
            {{#each links}}
            <li><a href="/files/{{this}}" title="{{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>
</html>